.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	/*display: none;*/
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1001;
	animation-name: fadein;
	animation-duration: 0.5s;
	transition: opacity 0.4s
}

.dialog-header {
	padding: 2px 16px;
	background-color: #6c7fbb;
	color: white
}
.modal-body {padding: 2px 16px}
 
.dialog-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	top: 80px;
	border: 1px solid #888;
	width: 45%;
	animation-name: popin;
	animation-duration: 0.5s
}

.close {
	color: black;
	float: right;
	font-size: 60px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #F8F8F8;
	text-decoration: none;
	cursor: pointer
}

@keyframes nudge {
	0% {left: 10px;}
	50% {left: 0px; right: 10px;}
	75% {left: 10px; right: 0px;}
	100% {left: 0px;}
}

@keyframes popin {
	0% {right: 45%; opacity: 0}
	100% {right: 0%;opacity: 1;}

}
@keyframes fadein {
	from {opacity: 0}
	to {opacity: 1}
}
