/* Classes */
body {
    animation: fadein 1s;
    background-color: #BCFFC0
}
.button1 {
border: none;
color: black;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition-duration: 0.4s;
}

.button1:hover {
background-color: #4CAF50;
}
.disabled { 
opacity: 0.6;
cursor: not-allowed;
}
/* End Classes */
#top {
    background-color: #BCE4FF;
    /*position: absolute;*/
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 1px 1px 1px 1px;
}

#info {
    padding-top: 2px;
    background-color: #f1f8ff;
    padding-bottom: 2px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    border-radius: 6px
}

@keyframes fadein {
	from {opacity: 0}
	to {opacity: 1}
}