
/* Classes */

/*form {
	text-align: center;
}*/

input[type="checkbox"] {
	font-size: 20px;
}

/* END Classes */
#mbar {
	/*position: absolute;*/
	text-align: center;
	background-color: #808080;
	color: #ffffff;
    /*border: 4px solid #ebf3ff;
	padding: 12px 16px; */
	width: 100%;
	/* max-width: 100%; */
	/*border-radius: 30px;*/
	/*top: 0 */
	/*height: auto;*/
	margin: auto;
}
/*
.rndbtn {
	display: inline-block;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 3px solid #e6e6e6;
	background-color: #809fff;
	text-align: center;
	text-decoration: none;
	font-size: 35px;
	transition-duration: 0.6s;
}
.rndbtn:hover{
	height: 124px;
	width: 124px;
	font-size: 45px;
}*/
#ropt1, #ropt2 {
	margin-left: 20px;
	text-indent: -20px;	
}
.container {
	position: relative;
	display: block;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-moz-user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	transition: background-color .4s
}

.radio {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	transition: background-color .4s;
	border-radius: 50%
}

.container:hover input ~ .checkmark {
	background-color: #ccc;
	transition: background-color .4s
}

.container:hover input ~ .radio {
	background-color: #ccc;
	transition: background-color .4s
}

.container input:checked ~ .radio {
	background-color: #2196F3;
	transition: background-color .4s
}

.container input:checked ~ .checkmark {
	background-color: #2196F3;
	transition: background-color .4s
}

.container input:checked ~ .radio {
	background-color: #2196F3;
	transition: background-color .4s
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radio:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block
}

.container input:checked ~ .radio:after {
	display: block
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.container .radio:after {
	left: 9px;
	top: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white
}

.container input[type="radio"]:disabled ~ .radio {
	opacity: 0.6;
	background-color: #595959;
	cursor: not-allowed
}

.container input[type="checkbox"]:disabled ~ .checkmark {
	opacity: 0.6;
	background-color: #595959;
	cursor: not-allowed
}

.cbutton {
border: none;
color: black;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition-duration: 0.4s
}

.cbutton:hover {
background-color: #4CAF50
}
.disabled { 
/*opacity: 0.8;*/
cursor: not-allowed
}
.migration_note {
	display: none;
	text-align: center;
	color: #FF8800;
	font-size: 16px
}
#saveindicator {
	display: none;
	text-align: center
	/*font-size: 18px;*/
}

#toggle_warning {
	display: none;
	text-align: center;
	color: #F83F3F;
	font-size: 18px
}