body {
	width: 260px;
	height: 250px;
	background-color: #f2f2f2;
}
/* Classes */
#topbar {
	position: absolute;
	/*text-align: center;*/
	background-color: #4283f4;
	color: #ffffff;
    /*border: 4px solid #ebf3ff;
	padding: 12px 16px; */
	width: 100%;
	/* max-width: 100%; */
	/*border-radius: 30px;*/
	top: 0;
	height: 50px;
	margin: auto;
}

#mbar {
	/*position: absolute;*/
	text-align: center;
	background-color: #808080;
	color: #ffffff;
    /*border: 4px solid #ebf3ff;
	padding: 12px 16px; */
	width: 100%;
	/* max-width: 100%; */
	/*border-radius: 30px;*/
	/*top: 0 */
	height: 20px 100%;
	/*margin: auto;*/
}

#page1 {
	text-align: center; 
	left: 0
	/*transition: 0.4s*/
}
#page2 {
	text-align: center; 
	left: 0
	/*top: 20%
	transition: 0.4s*/
}
/*#ext_status {
	margin-bottom: 150px;
}*/
#adblock_status {
	display: none;
	font-size: 12px;
}
#version_text {
	font-style: italic;
}
#section_title {
	font-size: 11px;
}
/*#adblock_stats{
	display: none
}*/
hr.styled_hr{
	border: 2px dashed #000000
}

/* End Classes */

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	font-size: 13px
}
/*
.rndbtn {
	display: inline-block;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 3px solid #e6e6e6;
	background-color: #809fff;
	text-align: center;
	text-decoration: none;
	font-size: 35px;
	transition-duration: 0.6s;
}
.rndbtn:hover{
	height: 124px;
	width: 124px;
	font-size: 45px;
}*/

@keyframes slidein {
	0% { transform: translateX(100%);
	}
	100% {transform: translateX(0%);
	}
}

@keyframes slideout {
	0% { transform: translateX(0%);
	}
	100% {transform: translateX(100%);
	}
}
/* TODO: Page sliding animations. */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}
.btn-group button {
	background-color: #80bfff;
	color: white;
	padding: 2px 16px;
	border: none;/*1px solid gray;*/
	margin-bottom: 5px;
	border-radius: 12px;
	width: 100%;
	transition: 0.2s;
	display: block;
	cursor: pointer
}

.btn-group button:hover {
	background-color: #3399ff
	}
.btn-group button:active {
	background-color: #0080ff
}
.btn-group button:disabled {
	cursor: not-allowed;
	opacity: 0.5
}
input:checked + .slider {
	background-color: #2196F3
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3
}

input:checked + .slider:before {
	transform: translateX(26px)
}

input:disabled + .slider {
	opacity: 0.5;
}
/*#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text*/
	