body {
    animation: fadein 1s
}
#top {
    background-color: #80eca0;
    /*position: absolute;*/
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-left: 6px solid #12a017;
    padding-top: 2px;
    padding-bottom: 2px
}

#mid {
    padding-top: 2px;
    background-color: #b5d2f3;
    padding-bottom: 2px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 6px
}
#bottom-note {
    text-align: center;
    margin-top: 10px
}

.button1 {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
    
.button1:hover {
    background-color: #4CAF50;
}
.disabled { 
    opacity: 0.6;
    cursor: not-allowed;
}
ul li{
    padding: 6px 0px;
}

@keyframes fadein {
	from {opacity: 0}
	to {opacity: 1}
}